html {
    box-sizing: border-box;
    font-family: 'TT Lakes';
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}


@font-face {
    font-family: 'TT Lakes';
    src: url('../assets/fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('../assets/fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/TTLakes-Regular.woff') format('woff'),
        url('../assets/fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../assets/fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('../assets/fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/TTLakes-Medium.woff') format('woff'),
        url('../assets/fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../assets/fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('../assets/fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/TTLakes-Bold.woff') format('woff'),
        url('../assets/fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.container {
    width: 100%;
}

.inner-wrapper {
    margin: 0 16px;
}

.row__item:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 88px;
    position: relative;
}

.row__item:last-child {
    display: none;
}

.row__button,
.title__button {
    width: 40px;
    height: 40px;
    background: #FF3E79;
    border-radius: 20px;
    border: none;
}

.row__divider {
    width: 35%;
}

.row__divider::after,
.row__item:nth-child(2) .row__button:nth-child(3)::after {
    content: "";
    height: 32px;
    width: 2px;
    background: #EAEAEA;
    position: absolute;
    left: 53vw;
    top: 28px;
}

.row__item:nth-child(2) .row__button:nth-child(3)::after {
    display: none;
}

.header {
    border-bottom: 1px solid #D9FFF5;
}

.title {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
}

.title::before {
    content: '';
    position: absolute;
    height: 40px;
    width: 4px;
    background: #41F6D7;
    transform: translateX(-16px);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menu {
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.menu__item,
.menu__item--active {
    display: inline-block;
}

.menu__item--active {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.menu__link {
    text-decoration: none;
    padding: 0px 15px;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: -0.2px;
    color: #7e7e82;
}

.main-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-row__descr {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}

.main-row__button {
    margin-top: 16px;
    align-self: flex-start;
    border: none;
    outline: none;
    background-color: white;
    font-size: 16px;
    line-height: 24px;
    font-family: 'TT Lakes';
    font-weight: 500;
}

.main-row__button::before {
    content: "";
    position: relative;
    width: 8px;
    height: 10px;
    margin: 0px 16px 0 8px;
    display: inline-block;
    background-image: url(../assets/img/main/button/01.svg);
}

.main-row__img {
    margin-top: 16px;
}

.main-row__img img {
    width: 100%;
}

.main-row__sup-descr,
.main-row__descr span {
    display: none;
}

.title-row,
.main-column,
.menu {
    margin-top: 24px;
}

.title-buttons {
    display: none;
}

@media (min-width: 768px) {
    .inner-wrapper {
        margin: 0 24px;
    }

    .title::before {
        transform: translateX(-24px);
    }

    .row__item:first-child .row__button:nth-child(3),
    .row__item:first-child .row__button:nth-child(4) {
        display: none;
    }

    .row {
        display: flex;
        justify-content: space-between;
    }

    .row__item:first-child {
        justify-content: space-between;
        width: 25%;
    }

    .row__item:last-child {
        width: 45%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-column {
        display: flex;
        flex-direction: row;
    }

    .main-row {
        width: 40vw;
        line-height: 20px;
    }

    .main-row__img {
        margin-top: 0px;
        flex: 0 0 50vw;
    }

    .main-row__descr {
        line-height: 20px;
    }

    .main-row__descr span:first-child {
        display: block;
    }

    .main-row__sup-descr {
        display: block;
        margin-top: 25px;
    }

    .row__divider {
        width: auto;
    }

    .row__divider::after {
        left: 9vw;
        top: 28px;
    }

    .row__item:nth-child(2) .row__button:nth-child(3)::after {
        display: block;
        left: 81vw;
    }
}

@media (min-width: 1120px) {
    .inner-wrapper {
        margin: 0 34px;
    }

    .title::before {
        transform: translateX(-34px);
    }

    .main-row__sup-descr {
        display: none;
        margin-top: 25px;
    }

    .main-row__descr span:first-child {
        display: none;
    }

    .main-row__descr span:last-child {
        display: block;
        margin-top: 25px;
    }

    .row__item:last-child {
        display: none;
    }

    .row {
        justify-content: flex-end;
    }

    .row__item:first-child {
        width: 23%;
    }

    .header {
        border-bottom: none;
    }

    .row__item:first-child {
        margin: 42px 0px 0px 0px;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .menu__item,
    .menu__item--active {
        margin-bottom: 15px;
    }

    .row {
        display: none;
    }

    .title-buttons {
        display: block;
        align-self: flex-end;
    }

    .title__button {
        margin-left: 160px;
    }

    .title-row {
        margin-top: 42px;
        display: flex;
        justify-content: space-between;
    }

    .title__button-text {
        min-width: 125px;
        display: block;
        transform: translate(-135px, 8px);
        font-family: 'TT Lakes';
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
    }

    .title__button img {
        transform: translateY(-70%);
    }
}