html {
    box-sizing: border-box;
    font-family: 'TT Lakes';
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}


@font-face {
    font-family: 'TT Lakes';
    src: url('../assets/fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('../assets/fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/TTLakes-Regular.woff') format('woff'),
        url('../assets/fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../assets/fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('../assets/fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/TTLakes-Medium.woff') format('woff'),
        url('../assets/fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../assets/fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('../assets/fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/TTLakes-Bold.woff') format('woff'),
        url('../assets/fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.container {
    width: 100%;
}

.container__inner-wrapper {
    margin: 0 16px;
}

.row,
.row__left-item,
.row__right-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row__left-item {
    min-height: 88px;
    width: 52vw;
}

.row__right-item {
    width: 31vw;
}

.row__button--mobile-hidden,
.burger-list,
.main-row__sup-descr,
.main-row__full-descr,
.title-buttons {
    display: none;
}

.row__button,
.title__button {
    width: 40px;
    height: 40px;
    background: #FF3E79;
    border-radius: 20px;
    border: none;
}

.row__divider {
    position: relative;
}

.row__divider::after {
    content: '';
    position: absolute;
    height: 32px;
    width: 2px;
    background: #EAEAEA;
    transform: translate(2vw, 10px);
}

.header {
    border-bottom: 1px solid #D9FFF5;
}

.main__inner-wrapper {
    margin: 0 16px;
    margin-top: 24px;
}

.title {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
}

.title::before {
    content: '';
    position: absolute;
    height: 40px;
    width: 4px;
    background: #41F6D7;
    transform: translateX(-16px);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main__menu {
    margin-top: 24px;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.main__menu-item,
.main__menu-item--active {
    display: inline-block;
}

.main__menu-item--active {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.main__menu-link {
    text-decoration: none;
    padding: 0px 15px;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: -0.2px;
    color: #7e7e82;
}

.main__column {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-row__descr {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}

.main-row__button {
    margin-top: 16px;
    align-self: flex-start;
    border: none;
    outline: none;
    background-color: white;
    font-size: 16px;
    line-height: 24px;
    font-family: 'TT Lakes';
    font-weight: 500;
}

.main-row__button::before {
    content: "";
    position: relative;
    width: 8px;
    height: 10px;
    margin: 0px 16px 0 8px;
    display: inline-block;
    background-image: url(../assets/img/main/button/01.svg);
}

.main-row__img {
    margin-top: 16px;
}

.main-row__img img {
    width: 100%;
}

@media (min-width: 350px) {
    .row__left-item {
        width: 46vw;
    }

    .row__divider::after {
        transform: translate(6vw, 10px);
    }
}

@media (min-width: 450px) {
    .row__left-item {
        width: 40vw;
    }

    .row__divider::after {
        transform: translate(11vw, 10px);
    }
}

@media (min-width: 768px) {
    .main__inner-wrapper {
        margin: 0 24px;
        margin-top: 24px;
    }

    .title::before {
        transform: translateX(-24px);
    }

    .row {
        display: flex;
        justify-content: space-between;
    }

    .main__column {
        margin-top: 32px;
        display: flex;
        flex-direction: row;
    }

    .main__menu {
        margin-top: 32px;
    }

    .main-row {
        width: 40vw;
        line-height: 20px;
    }

    .main-row__img {
        margin-top: 0px;
        flex: 0 0 50vw;
    }

    .main-row__descr {
        line-height: 20px;
    }

    .main-row__sup-descr {
        display: block;
        margin-top: 25px;
    }

    .row__divider {
        width: 58%;
    }

    .row__divider::after {
        display: none;
    }

    .row__divider::before,
    .row__button-divider::before {
        content: '';
        position: absolute;
        height: 32px;
        width: 2px;
        background: #EAEAEA;
        transform: translate(-3vw, 10px);
    }

    .row__button-divider::before {
        content: '';
        transform: translate(-4vw, -5px);
    }

    .row__button-divider {
        margin-left: 20px;
    }

    .row {
        display: flex;
        position: relative;
    }

    .row__left-item {
        width: 25vw;
        justify-content: space-between;
    }

    .row__right-item {
        width: 40vw;
        justify-content: space-between;
    }

    .row__button--mobile-hidden {
        display: block;
    }
}

@media (min-width: 1120px) {

    .container__inner-wrapper,
    .main__inner-wrapper {
        margin: 0 34px;
    }

    .title::before {
        transform: translateX(-34px);
    }

    .main-row__sup-descr {
        display: none;
        margin-top: 25px;
    }

    .main-row__sup-descr {
        display: none;
    }

    .main-row__full-descr {
        display: block;
        margin-top: 25px;
    }

    .row {
        justify-content: flex-end;
    }

    .header {
        border-bottom: none;
    }

    .main__menu {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .main__menu-item,
    .main__menu-item--active {
        margin-bottom: 15px;
    }

    .row {
        display: none;
    }

    .title-buttons {
        display: block;
        align-self: flex-end;
    }

    .title__button {
        margin-left: 160px;
    }

    .title-row {
        margin-top: 42px;
        display: flex;
        justify-content: space-between;
    }

    .title__button-text {
        min-width: 125px;
        display: block;
        transform: translate(-135px, 8px);
        font-family: 'TT Lakes';
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
    }

    .title__button img {
        transform: translateY(-70%);
    }

    .main__column {
        margin-top: 10px;
    }
}